@font-face {
    font-family: "Lato";
    src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/lato/latoregular.woff2') format('woff2'), url('../fonts/lato/latoregular.woff') format('woff'), url('../fonts/lato/latoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --font-Lato: "Lato", sans-serif;
    --font-nunito: "Nunito Sans", sans-serif;

    --gradient: linear-gradient(90deg, #ff323f 0%, #ff37e4 100%);
    --light: #FFFFFF;
    --light-gray: #E9E9E9;
}

body {
    font-family: var(--font-Lato);
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

.main {
    color: var(--light);
    background-image: url(../images/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
}

.container {
    width: 100%;
    max-width: 1630px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    padding: 15px 17px 15px 25px;
    box-sizing: border-box;
    background-color: var(--light);
    border-radius: 16px;
    margin: 0 auto 106px;
}

.logo {
    display: block;
    width: 105px;
    height: 30px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav {
    display: flex;
    gap: 40px;
    font-size: 14px;
    color: #333;
}

.btn-accent {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 16px 18px;
    font-family: var(--font-nunito);
    font-weight: 900;
    background: var(--gradient);
    border-radius: 10px;
    color: var(--light);
    width: fit-content;
}

.btn-accent::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-image: url(../images/btn-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.badge {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 11px 15px;
    border: 1px solid var(--light);
    border-radius: 8px;
    font-family: var(--font-nunito);
    font-size: 12px;
    width: fit-content;
    margin-bottom: 28px;
}

.badge::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-image: url(../images/icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.title-h1 {
    font-family: var(--font-nunito);
    font-size: 75px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 25px;
}

.title-h2 {
    font-family: var(--font-nunito);
    font-size: 48px;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 18px;
    margin-bottom: 11px;
}

.description {
    margin-top: 0;
    margin-bottom: 34px;
    color: var(--light-gray);
    line-height: 1.6;
}

.text-small {
    font-family: var(--font-nunito);
    font-size: 12px;
    color: var(--light-gray);
    margin: 0;
}

/* Hero */

.section-hero {
    margin-bottom: 100px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description-hero {
    max-width: 556px;
}

.brands {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 98px;
    gap: 24px 54px;
}

.brands .text-small {
    flex-basis: 100%;
}

/*dashboard*/

.container-screen {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.screen {
    width: 100%;
    max-width: 564px;
    margin: 0 auto;
    text-align: center;
    margin-top: 105px;
    margin-bottom: 52px;
}

.description-screen {
    max-width: 564px;
    margin: 0 auto;
}

.badge-center {
    margin: 0 auto;
}

.image-screen {
    width: 100%;
    max-width: 1496px;
    max-height: 830px;
    margin: 0 auto;
}