@font-face {
    font-family: "Lato";
    src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/lato/latoregular.woff2') format('woff2'), url('../fonts/lato/latoregular.woff') format('woff'), url('../fonts/lato/latoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --font-Lato: "Lato", sans-serif;
    --font-nunito: "Nunito Sans", sans-serif;
    --gradient: linear-gradient(90deg, #ff323f 0%, #ff37e4 100%);
    --accent: #ff3598;
    --light: #FFFFFF;
    --light-gray: #E9E9E9;
    --gray: #4E4E4E;
    --gray-rgb: 78, 78, 78;
    --line: #AEAEAE;
    --dark: #0E0E0E;
    --tr: .3s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-Lato);
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
    transition: var(--tr);
}

.main {
    color: var(--light);
    background-image: url(../images/bg-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 120px;
}

.container {
    width: 100%;
    max-width: 1630px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 30px);
    max-width: 1600px;
    padding: 15px 17px 15px 25px;
    box-sizing: border-box;
    background-color: var(--light);
    border-radius: 16px;
    margin: 0px auto;
    position: fixed;
    z-index: 9999;
}

.header.scroll {
    border: 1px solid rgba(var(--gray-rgb), 0.4);
}

.logo {
    display: block;
    width: 105px;
    height: 30px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav {
    display: flex;
    gap: 40px;
    font-size: 14px;
    color: rgb(51, 51, 51);
}

.nav-link {
    position: relative;

}

.nav-link:hover {
    color: var(--accent);
}

.nav-link::before {
    content: '';
    width: 20px;
    height: 20px;
    background: linear-gradient(180.00deg, rgba(10, 10, 10, 0.1), rgba(112, 112, 112, 0.1) 100%);
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 10px);
    margin: 0 auto;
    border-radius: 100%;
    opacity: 0;
    transition: var(--tr);
}

.nav-link::after {
    content: '';
    display: block;
    width: 19px;
    height: 1px;
    background: var(--gradient);
    margin-top: 6px;
    opacity: 0;
    transition: var(--tr);
}

.nav-link:hover::before,
.nav-link:hover::after {
    opacity: 1;
}

.btn-accent {
    padding: 16px 18px;
    font-family: var(--font-nunito);
    font-weight: 900;
    background: var(--gradient);
    border-radius: 10px;
    color: var(--light);
    width: fit-content;
    position: relative;
}

.btn-accent::after {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--accent);
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    transition: var(--tr);
}

.btn-accent:hover::after {
    opacity: 1;
}

.btn-accent span {
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
    z-index: 2;
}

.btn-accent span::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-image: url(../images/btn-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.btn-line {
    display: block;
    background: transparent;
    border: 1px solid var(--gradient);
    margin: 0 auto;
}

.btn-line::before {
    content: '';
    display: block;
    background: var(--gradient);
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    inset: -1px;
    border-radius: 10px;
    z-index: -1;
}
.badge {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px 14px;
    border: 1px solid var(--light);
    border-radius: 8px;
    font-family: var(--font-nunito);
    font-size: 12px;
    width: fit-content;
}

.light .badge {
    border-color: var(--line);
    margin-top: 10px;
    padding: 10px 23px;
    gap: 26px;
}

.badge::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-image: url(../images/icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.badge+.title-h1 {
    margin-top: 28px;
}

.title-h1 {
    font-family: var(--font-nunito);
    font-size: 75px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
}

.badge+.title-h2 {
    margin-top: 19px;
}

.title-h2 {
    font-family: var(--font-nunito);
    font-size: 48px;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 18px;
    margin-bottom: 11px;
}

.title-h2+.description {
    margin-top: 10px;
}

.title-h4 {
    font-family: var(--font-nunito);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
}

.title-h5 {
    font-family: var(--font-nunito);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    margin-top: 0px;
    margin-bottom: 0px;
}

.description {
    margin-top: 0;
    margin-bottom: 34px;
    color: var(--light-gray);
    line-height: 1.6;
}

.light .description {
    color: var(--gray);
}

.text-small {
    font-family: var(--font-nunito);
    font-size: 12px;
    color: var(--light-gray);
    margin: 0;
}

/* Hero */

.section-hero {
    margin-top: 185px;
    margin-bottom: 100px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text .btn-accent {
    display: block;
}

.description-hero {
    max-width: 556px;
}

.brands {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 97px;
    gap: 24px 54px;
}

.brands .text-small {
    flex-basis: 100%;
}

.container-screen {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.screen {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 105px;
}

.description-screen+.description {
    margin-top: 10px;
}

.description-screen {
    max-width: 564px;
    margin-left: auto;
    margin-right: auto;
}

.badge-center {
    margin: 0 auto;
    margin-bottom: 30px;
}

.image-screen {
    width: 100%;
    max-width: 1496px;
    margin-top: 20px;
}

.section-advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}

.advantages {
    display: flex;
    align-items: center;
    gap: 7vw;
}

.advantages-text {
    flex-basis: 607px;
}

.advantages-image {
    flex-basis: calc(100% - 607px - 7vw);
}

.advantages-image img {
    width: 100%;
}

.advantages-list {
    margin-top: 44px;
}

.advantages-item {
    display: flex;
    align-items: start;
    gap: 45px;
}

.advantages-icon {
    padding-top: 15px;
}

.advantages-item .description {
    max-width: 440px;
}

.advantages-list-text .title-h4+.description {
    margin-top: 6px;
}

.app {
    display: flex;
    align-items: center;
    gap: 4vw;
}

.app-text {
    flex-basis: 750px;
}

.app-text .btn-accent {
    display: block;
}

.app-image {
    flex-basis: calc(100% - 607px - 4vw);
    position: relative;
}

.app-image img {
    width: 100%;
}

.app-gray {
    width: 100%;
    height: 90%;
    background-color: var(--light-gray);
    border-radius: 16px;
    position: absolute;
    z-index: -1;
    top: 5%;
    right: -22px;
}

.app-text .description {
    color: var(--gray);
    margin-bottom: 50px;
    max-width: 465px;
}

.app-list {
    display: grid;
    grid-template-columns: 249px 1fr;
    gap: 16px;
    list-style-type: none;
    padding-left: 0;
    margin-top: 38px;
    margin-bottom: 50px;
}

.app-item {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--dark);
    padding-left: 12px;
}

.app-item::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: var(--dark);
    border-radius: 100%;
}

.steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 18px;
}

.steps-item {
    border: 1px solid rgba(var(--gray-rgb), 0.4);
    border-radius: 16px;
    padding: 62px 45px 34px;
    box-sizing: border-box;
    position: relative;
}

.steps-item:hover,
.steps-item:hover .description {
    color: var(--light);
}

.steps-item::before {
    content: '';
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    border-radius: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: var(--tr);
}

.steps-item:hover::before {
    opacity: 1;
}

.steps-item:nth-child(1)::before {
    background-image: url(../images/steps/steps-1.png);
}

.steps-item:nth-child(2)::before {
    background-image: url(../images/steps/steps-2.png);
}

.steps-item:nth-child(3)::before {
    background-image: url(../images/steps/steps-3.png);
}

.steps-item:nth-child(4)::before {
    background-image: url(../images/steps/steps-4.png);
}

.description-steps {
    margin-top: 12px;
    margin-bottom: 40px;
}

.steps-line {
    width: 100%;
    height: 2px;
    background: rgba(var(--gray-rgb), 0.4);
    position: relative;
}

.steps-line::after {
    content: '';
    width: 100%;
    height: 2px;
    background: var(--gradient);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: var(--tr);
}

.steps-item:hover .steps-line::after {
    opacity: 1;
}

.section-product {
    padding-top: 120px;
    padding-bottom: 120px;
}

.product {
    text-align: center;
}

.description-product {
    width: 100%;
    max-width: 565px;
    margin: 20px auto;
}

.info {
    display: grid;
    grid-template-columns: 49% 247px 1fr;
    grid-template-rows: 369px auto;
    gap: 24px;
}

.info-item {
    background-color: #F2F2F2;
    border-radius: 16px;
    box-sizing: border-box;
    overflow: hidden;
}

.info-item:not(:nth-child(1)) {
    border: 1px solid rgba(var(--gray-rgb), 0.4);
}

.info-item:nth-child(1) {
    grid-row: 1 / 3;
}

.info-item:nth-child(2) {
    grid-column: 2 / 4;
}

.info-item:nth-child(3) {
    padding: 50px 40px 64px 40px;
}

.info-item:nth-child(4) {
    padding: 50px 40px;

}

.review {
    height: 100%;
    background-image: url(../images/info/back-1.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.review-image {
    width: 100%;
    max-width: 515px;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.code {
    height: 100%;
    background-image: url(../images/screen-code.png);
    background-size: cover;
    background-position: 70px 35px;
    background-repeat: no-repeat;
    position: relative;
}

.code-image {
    width: 100%;
    max-width: 100px;
    position: absolute;
    bottom: 35px;
    right: 135px;
}

.support-list {
    margin-top: 14px;
    font-size: 14px;
}

.support-item {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--light);
    border-radius: 10px;
    padding: 4px 20px;
}

.support-item:not(:last-child) {
    margin-bottom: 18px;
}

.faq-list {
    text-align: left;
    margin-top: 24px;
}

.faq-details > .faq-summary:first-of-type {
    list-style: none;
}

.faq-summary{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    background-color: var(--light);
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
    position: relative;
}

.faq-summary:not(:last-child) {
    margin-bottom: 20px;
}

.faq-summary::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: var(--gradient);
    border-radius: 15px;
    position: absolute;
    top: calc(50% - 10px);
    right: 23px;
}

.faq-summary::after {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-image: url(../images/plus.svg);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center center;
    border-radius: 15px;
    position: absolute;
    top: calc(50% - 10px);
    right: 23px;
}

.faq-details[open] > .faq-summary::before {
    background: var(--line);
}

.faq-details[open] > .faq-summary::after {
    background-image: url(../images/minus.svg);
}

.section-free {
    background-image: url(../images/bg-free.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--light);
}

.free {
    display: flex;
    justify-content: end;
    text-align: center;
}

.free-text {
    padding-right: 110px;
    padding-top: 135px;
    padding-bottom: 135px;
    position: relative;
    z-index: 0;
}

.free-text .title-h2 {
    max-width: 420px;
    margin: 0 auto;
    margin-bottom: 33px;
}

.free-text .description {
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.footer {
    padding-top: 120px;
}